/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Beginning of custom styles  */

html {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    line-height: 1.5;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    width: 100%;
}

/* LoVe HAte */
a,
a:link,
a:visited {
    color: inherit;
}

a:hover,
a:focus {
    color: #00add8;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    /* top left-right bottom */
    margin: 1em 0 0.5em;
}

h1 {
    font-size: 5.063rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

p {
    /* top-bottom left-right */
    margin: 1em 0;
}



/* ---------------MID TERM------------ */
/* ------------Home Page */
/* -------------Mobile Styles */


.body-container {
    margin: 0 auto;
}

/* Styling the skip links */
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: black;
    color: white;
    padding: .5em 1em;
    font-weight: bold;
}

.skip-links a:focus {
    top: 0;
}





/* Styling the greeting message */
.greeting {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-color: #10b981;
    color: white;
    font-size: 20px;

}


/* Animating the greeting text */
.greeting-text {
    animation: scroll 20s infinite ease-in-out;
}

@keyframes scroll {

    0% {
        transform: translateX(100%);
    }


    100% {
        transform: translateX(-100%);
    }
}


/* Styling the Logo */
.logo {
    text-align: center;
}

.logo-image {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;

}

/*---- Styling the navigation----- */
.navigation {
    background-color: #10b981;

}


.nav-list li {
    border-bottom: 1px solid white;
    padding: 10px;
}

.nav-list {

    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    text-decoration: none;

}

/* LoVe HAte */
.nav-list a,
.nav-list a:link,
.nav-list a:visited {
    display: block;
    text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current {
    background-color: #d1fae5;
    color: black;
}

/* Animating the navigation */

.nav-list a:active,
.nav-list a.current {
    text-transform: uppercase;
}

.nav-list a:hover {
    transform: scale(3);
}




/* Styling the About section */


h1 {
    text-align: center;
}


.float-container {
    width: 90%;
    box-sizing: border-box;
    border: 2px solid #10b981;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.float-image {
    float: left;
    width: 300px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.about-p {
    margin: 15px;
}


/* Styling the references */
small {
    margin-left: 40%;

}

/* Testimonials section */
.testimonials {
    width: 80%;
    margin: 0 auto;
}

.test {
    margin: 0 auto;
    border: 2px solid #10b981;
    border-radius: 15px 50px 40px;
    padding: 30px;
}


.testp {
    font-style: italic;
}


.meg {

    padding-top: 20px;
    border-top: 2px solid #10b981;
}


.rating {
    border-top: 2px solid #10b981;
    color: #10b981;
    cursor: pointer;

}

.rating span:hover~span {
    opacity: .5;
}




/* Styling the special button */

.order {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 80%;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
    box-shadow: 8px 8px #10b981;
    margin-top: 20px;
}


/* Animating the button */

.order {
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        transform: translate(0, -10px);
    }

    50% {
        transform: translate(0, -10px);
    }


    100% {
        transform: translate(0, 5px);
    }
}


/* Styling the footer */

footer {
    background-color: #10b981;

}

.footerh {
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 0;
}

/* ul .footer-nav  li{
    border: none;
} */


.footer-nav {

    font-size: 15px;
    color: black;
    text-align: center;
}




/* Social Media Icons */

.social-media {
    text-align: center;

}


.socialh {
    font-size: 15px;
    text-decoration: underline;
    margin-bottom: 15px;
    margin-top: 5px;
}

.socialnav {
    font-size: 20px;
    padding: 2px;


}

.social-media a,
.social-media a:link,
.social-media a:visited {
    display: block;

}


.socialnav a:hover {
    color: #d1fae5;
    transform: scale(2);
}

.end {

    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
}






/* ----------Flavours Page----------- */

h2 {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.meals {
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 25px;
    background-color: #10b981;
    margin-left: 20px;
    margin-right: 5px;
    margin-bottom: 25px;
}


.fruit-img {
    background-color: white;
}


.detail {
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
    margin-left: 10px;
    font-size: 20px;

}




.send {
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: -3px -3px #d1fae5;
    padding: 10px 20px;
    font-weight: bold;
}

/* Animating the buttons */

.send:hover {
    transform: scale(1.3);
}










/* --------------Contact Page----------------- */


.content {
    margin: 0 auto;
    padding-bottom: 60px;
}


/* Contact form */
.form-border {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #10b981;
    border-radius: 5px;
    padding: 40px;
    font-weight: bold;
    line-height: 1.6;
    font-size: 20px;
    margin-top: 0px;
}



.im-mail {
    padding-left: 15px;

}


#fullname {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


#youremail {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


#subject {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#message {
    width: 100%;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* Operating Hours */

table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
}


thead {
    background-color: #10b981;
}


table,
td,
th {
    border: 2px solid;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
}



/* Phone number */

.number {
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid;
    margin-top: 60px;
    text-align: center;
    border-radius: 5px;

}


.locationh {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;
}


.map {
    margin-left: 10%;
    width: 400px;
    height: 400px;
    border: 2px solid #10b981;
    border-radius: 5px;
}











/* ------------Desktop Styles--------- */
@media screen and (min-width: 700px) {

    /*---------- Homepage------------- */

    /* Greeting Text */
    .greeting {
        font-size: 20px;
        font-weight: bold;
    }

    .greeting-text {
        animation: scroll 50s infinite ease;
    }




    /* Styling the logo */
    .logo-image {
        width: 300px;

    }


    /* Styling the navigation */

    .nav-list {
        display: flex;
        font-size: 16px;
        align-items: center;
        margin-left: 100px;
        margin-right: 100px;
        font-size: 25px;
    }


    .nav-list li {
        flex: 1;
        border-right: 2px solid #d1fae5;
        border-bottom: none;
    }


    nav ul li:last-child {
        border-right: none;
    }

    .nav-list a:hover {
        transform: scale(1.2);
    }


    /* About section */

    h1 {
        margin-top: 5px;
    }


    .float-container {
        width: 85%;
        margin: 0 auto;
        margin-top: 5px;
    }

    .float-image {
        width: 500px;
    }

    .about-p {
        font-size: 20px;
        line-height: 1.6;
    }



    /* Testimonials Section */

    .testimonials {
        width: 65%;
    }



    /* Special Button */

    .order {
        margin-left: 10%;
        margin-bottom: 40px;
    }



    /* Styling the footer */

    .footer-nav {
        display: inline-block;

    }


    .social-media {
        text-align: center;
        border-left: 2px solid #d1fae5;
    }


    .footerh {
        margin-top: 10px;
        font-size: 20px;
    }

    .footer-nav {
        font-size: 15px;


    }

    /* SOcial Media Icons */
    .socialnav {
        line-height: 50px;
    }


    .socialh {
        font-size: 20px;
        font-weight: bold;
    }


    .footergrid {
        font-size: 15px;
        display: grid;
        margin: 0 auto;
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:

            "menugrid mediagrid";

        gap: 1em;
    }




    .menugrid {
        grid-area: menugrid;
    }

    .mediagrid {
        grid-area: mediagrid;
    }



    /* -----------------Flavours Page */

    .flavourh {
        font-size: 50px;
    }


    .gridf {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    /* display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:

            "fruit-meal fruit-meal chocolate-meal chocolate-meal"
            "vanilla vanilla raspberry raspberry"
        ;
        gap: 60px;
    }


    .fruit-meal {
        grid-area: fruit-meal;
    }



    .chocolate-meal {
        grid-area: chocolate-meal;
    }

    .vanilla {
        grid-area: vanilla;
    }

    .raspberry {
        grid-area: raspberry;
    }
 */


    .fruit-meal {
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-bottom: 70px;
    }

    .detail {
        padding-top: 40%;
        margin-left: 40px;
    }

    .name {
        font-size: 40px;
        font-weight: bold;
    }



    .vanilla {
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-bottom: 70px;
    }




    .raspberry {
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-bottom: 70px;
    }


    .chocolate-meal {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }







    /* -----------Contact Page------------ */

    /* Contact form */

    .form-border {
        font-size: 25px;
    }

    #fullname {
        padding: 15px;

    }

    #youremail {
        padding: 15px;
    }

    #subject {
        padding: 15px;
    }


    .sendmssg {
        padding: 20px 40px;
        font-size: 20px;
        box-shadow: 5px 5px #10b981;
        margin-left: 40%;

    }





    /* Operating hours */

    .oper {
        margin-top: 50px;
    }




    table,
    td,
    th {
        font-size: 20px;
    }




    /* Phone number */

    .number {
        width: 40%;

    }

    .numberf {
        font-size: 40px;
    }




    /* Location */
    .locationh {
        margin-top: 80px;
        width: 50%;
        font-size: 40px;
    }


    .direct {
        font-size: 35px;
        font-weight: bold;
        margin-top: 60px;
    }

    .map {
        width: 80%;
        height: 600px;

    }




}